.emailList {
  overflow: auto;
  flex: 1;
}

.emailList__settings {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
  padding-right: 10px;
}

.emailList__sections {
  display: flex;
  position: sticky;
  top: 0;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
}

.emailList_list {
  padding-bottom: 20%;
}
